# Tu entorno virtual real (¡Esto salvará a Git!)
entorno_plantas/

# Caché de Python
__pycache__/
*.pyc

# Tu modelo de IA (Altamente recomendado ignorarlo si pesa más de 100 MB)
# modelo_plantas.keras