
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contenedor {
    background-color: white;
    width: 100%;
    max-width: 400px; /* Ancho máximo para que se vea como app móvil */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 30px 20px;
    text-align: center;
}

h1 {
    color: #2e7d32;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-archivo {
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #fafafa;
}

/* boton principal tactil */
.boton-analizar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton-analizar:active {
    background-color: #388e3c;
}

/* cajas de respuesta (Éxito y Error) */
.tarjeta-resultado {
    margin-top: 25px;
    background-color: #e8f5e9;
    border-left: 5px solid #2e7d32;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}

.tarjeta-error {
    margin-top: 25px;
    background-color: #ffebee;
    border-left: 5px solid #c62828;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}
.vista-previa-contenedor {
    display: none; /* Se mantiene invisible hasta que suban una foto */
    margin: 20px auto;
    text-align: center;
    animation: aparecer 0.5s ease-in-out;
}

.texto-vista-previa {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    font-weight: bold;
}

.vista-previa-img {
    max-width: 100%;
    max-height: 280px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    object-fit: cover;
    border: 3px solid #2ecc71; /* Un borde verde para que resalte */
}

@keyframes aparecer {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}